In [1]:
import pandas as pd

In [2]:
# Load the file
df = pd.read_csv('/Users/harshams/Desktop/CIS5357_Assignments/Assignment10/co-est2022-alldata.csv')

In [3]:
ny_df = df[df['STNAME'] == 'New York']

In [4]:
ny_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,...,RDEATH2021,RDEATH2022,RNATURALCHG2021,RNATURALCHG2022,RINTERNATIONALMIG2021,RINTERNATIONALMIG2022,RDOMESTICMIG2021,RDOMESTICMIG2022,RNETMIG2021,RNETMIG2022
1862,40,1,2,36,0,New York,New York,20201230,20108296,19857492,...,8.864732,8.930598,1.434177,1.801509,1.439731,3.942011,-14.803662,-15.154152,-13.363930,-11.212141
1863,50,1,2,36,1,New York,Albany County,314838,313987,316301,...,9.468687,9.482497,-0.710786,-0.458779,1.519940,3.967651,6.311401,-4.742830,7.831341,-0.775179
1864,50,1,2,36,3,New York,Allegany County,46446,47320,46921,...,11.268981,11.087967,-1.803886,-1.281846,0.127333,0.491374,-7.003321,-3.909630,-6.875988,-3.418256
1865,50,1,2,36,5,New York,Bronx County,1472656,1461125,1421089,...,8.765484,8.913134,3.416124,4.012088,2.892221,7.914931,-32.537487,-43.104067,-29.645266,-35.189135
1866,50,1,2,36,7,New York,Broome County,198675,198126,198703,...,11.586855,11.737659,-2.751815,-2.612299,0.962631,2.455662,4.404920,-7.826790,5.367551,-5.371128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920,50,1,2,36,115,New York,Washington County,61302,61202,60975,...,11.786179,11.837525,-3.093872,-2.873186,0.081848,0.246273,-1.358685,0.935838,-1.276836,1.182111
1921,50,1,2,36,117,New York,Wayne County,91286,91193,91201,...,10.186739,10.289262,-0.493437,-0.274234,0.076757,0.230357,-0.197375,-0.296173,-0.120618,-0.065816
1922,50,1,2,36,119,New York,Westchester County,1004445,1001431,999607,...,8.217735,8.220965,1.240356,1.589923,1.410268,3.919531,-4.970420,-15.056024,-3.560152,-11.136493
1923,50,1,2,36,121,New York,Wyoming County,40531,40427,40017,...,11.013873,11.119059,-2.834270,-2.585244,0.149172,0.326293,-7.607777,-6.425461,-7.458605,-6.099168
1924,50,1,2,36,123,New York,Yates County,24768,24720,24634,...,12.197593,12.142202,0.445759,0.937150,0.040524,0.366711,-4.498116,-8.760314,-4.457592,-8.393603

In [90]:
# Determine the county with the highest and lowest population growth
county_highest_growth = ny_df.sort_values(ny_df['NPOPCHG2022'],ascending = False)
county_lowest_growth = ny_df.sort_values(ny_df['NPOPCHG2022'],ascending = True)

KeyError: 1862     -180341.0
1863        -490.0
1864        -227.0
1865      -41143.0
1866       -1586.0
            ...
1921         -76.0
1922       -9180.0
1923        -351.0
1924        -183.0
FUTURE         NaN
Name: NPOPCHG2022, Length: 64, dtype: float64

In [17]:
print("County with the highest population growth:", county_highest_growth[0]
print("County with the lowest population growth:", county_highest_growth[0]

County with the highest population growth: New York County
County with the lowest population growth: New York

In [25]:
ny_df.loc[:, 'FUTURE_POPULATION_ESTIMATE'] = ny_df['POPESTIMATE2022'] + ny_df['NPOPCHG2022']

In [36]:
ny_df[['CTYNAME','FUTURE_POPULATION_ESTIMATE']]

                 CTYNAME  FUTURE_POPULATION_ESTIMATE
1862            New York                    19496810
1863       Albany County                      315321
1864     Allegany County                       46467
1865        Bronx County                     1338803
1866       Broome County                      195531
...                  ...                         ...
1920   Washington County                       60707
1921        Wayne County                       91049
1922  Westchester County                      981247
1923      Wyoming County                       39315
1924        Yates County                       24268

[63 rows x 2 columns]

In [44]:
ny_df.loc[:, 'population_growth_rate'] = (ny_df['POPESTIMATE2022'] - ny_df['POPESTIMATE2020']) / ny_df['POPESTIMATE2020']

In [45]:
highest_growth_county = ny_df.sort_values('population_growth_rate', ascending=False).head(1)

In [46]:
lowest_growth_county = ny_df.sort_values('population_growth_rate', ascending=True).head(1)

In [48]:
ny_df.loc[:,'future_population_growth'] = ny_df['population_growth_rate'] * ny_df['POPESTIMATE2022']

In [50]:
# Print the results
highest_growth_county

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,...,RDOMESTICMIG2021,RDOMESTICMIG2022,RNETMIG2021,RNETMIG2022,TOTAL_POPULATION_GROWTH,FuturePopulationGrowth,ESTIMATED_FUTURE_POPULATION_GROWTH,FUTUREPOP2023,FUTURE_POPULATION_ESTIMATE,population_growth_rate
1917,50,1,2,36,109,New York,Tompkins County,105744,99784,106044,...,63.431603,-17.351213,65.219504,-12.598365,-967,103510,-1267.0,103510,103510,0.050038

In [51]:
lowest_growth_county

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,...,RDOMESTICMIG2021,RDOMESTICMIG2022,RNETMIG2021,RNETMIG2022,TOTAL_POPULATION_GROWTH,FuturePopulationGrowth,ESTIMATED_FUTURE_POPULATION_GROWTH,FUTUREPOP2023,FUTURE_POPULATION_ESTIMATE,population_growth_rate
1865,50,1,2,36,5,New York,Bronx County,1472656,1461125,1421089,...,-32.537487,-43.104067,-29.645266,-35.189135,-92710,1338803,-41143.0,1338803,1338803,-0.055559

In [55]:
highest_growth_county = ny_df[ny_df['NPOPCHG2022'] == ny_df['NPOPCHG2022'].max()]

In [56]:
highest_growth_county

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,...,RDOMESTICMIG2022,RNETMIG2021,RNETMIG2022,TOTAL_POPULATION_GROWTH,FuturePopulationGrowth,ESTIMATED_FUTURE_POPULATION_GROWTH,FUTUREPOP2023,FUTURE_POPULATION_ESTIMATE,population_growth_rate,future_population_growth
1893,50,1,2,36,61,New York,New York County,1694250,1677306,1578801,...,1.831768,-58.098828,8.727356,-97977,1613745,17472.0,1613745,1613745,-0.048311,-77118.182376

In [58]:
lowest_growth_county = ny_df[ny_df['NPOPCHG2022'] == ny_df['NPOPCHG2022'].min()]

In [59]:
lowest_growth_county

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,...,RDOMESTICMIG2022,RNETMIG2021,RNETMIG2022,TOTAL_POPULATION_GROWTH,FuturePopulationGrowth,ESTIMATED_FUTURE_POPULATION_GROWTH,FUTUREPOP2023,FUTURE_POPULATION_ESTIMATE,population_growth_rate,future_population_growth
1862,40,1,2,36,0,New York,New York,20201230,20108296,19857492,...,-15.154152,-13.36393,-11.212141,-524079,19496810,-180341.0,19496810,19496810,-0.021441,-421900.755186

In [62]:
ny_df.loc[:,'Avg_Annual_Growth'] = (ny_df['NPOPCHG2022'] - ny_df['NPOPCHG2021']) / 2

In [64]:
ny_df.loc[:,'Estimated_Pop_Growth_2023'] = ny_df['POPESTIMATE2022'] + ny_df['Avg_Annual_Growth']

In [69]:
ny_df[['CTYNAME','FUTURE_POPULATION_ESTIMATE']].head(5)

              CTYNAME  FUTURE_POPULATION_ESTIMATE
1862         New York                    19496810
1863    Albany County                      315321
1864  Allegany County                       46467
1865     Bronx County                     1338803
1866    Broome County                      195531

In [70]:
ny_df[['CTYNAME','Estimated_Pop_Growth_2023']].head(5)

              CTYNAME  Estimated_Pop_Growth_2023
1862         New York                 19712382.5
1863    Albany County                   314409.0
1864  Allegany County                    46780.0
1865     Bronx County                  1379392.5
1866    Broome County                   196035.5

In [71]:
ny_df[['CTYNAME','FUTURE_POPULATION_ESTIMATE']].tail(5)

                 CTYNAME  FUTURE_POPULATION_ESTIMATE
1920   Washington County                       60707
1921        Wayne County                       91049
1922  Westchester County                      981247
1923      Wyoming County                       39315
1924        Yates County                       24268

In [72]:
ny_df[['CTYNAME','Estimated_Pop_Growth_2023']].tail(5)

                 CTYNAME  Estimated_Pop_Growth_2023
1920   Washington County                    60887.5
1921        Wayne County                    91083.0
1922  Westchester County                   986749.0
1923      Wyoming County                    39695.5
1924        Yates County                    24402.5

In [75]:
ny_df.loc[:,'POPULATION_GROWTH'] = ny_df['POPESTIMATE2022'] - ny_df['POPESTIMATE2021']

In [76]:
county_highest_growth = ny_df.loc[ny_df['POPULATION_GROWTH'].idxmax()]
county_lowest_growth = ny_df.loc[ny_df['POPULATION_GROWTH'].idxmin()]

print("County with the highest population growth:")
print(county_highest_growth[['CTYNAME', 'POPULATION_GROWTH']])

print("\nCounty with the lowest population growth:")
print(county_lowest_growth[['CTYNAME', 'POPULATION_GROWTH']])

County with the highest population growth:
CTYNAME              New York County
POPULATION_GROWTH              17472
Name: 1893, dtype: object

County with the lowest population growth:
CTYNAME              New York
POPULATION_GROWTH     -180341
Name: 1862, dtype: object

In [83]:
ny_df.loc[:,'FUTURE'] = ny_df['POPESTIMATE2022'] + ny_df['POPULATION_GROWTH']

In [87]:
ny_df[['CTYNAME','FUTURE']].tail(5)

                   CTYNAME    FUTURE
1921          Wayne County   91049.0
1922    Westchester County  981247.0
1923        Wyoming County   39315.0
1924          Yates County   24268.0
FUTURE                 NaN       NaN

In [86]:
ny_df[['CTYNAME','FUTURE_POPULATION_ESTIMATE']].tail(5)

                   CTYNAME  FUTURE_POPULATION_ESTIMATE
1921          Wayne County                     91049.0
1922    Westchester County                    981247.0
1923        Wyoming County                     39315.0
1924          Yates County                     24268.0
FUTURE                 NaN                         NaN

In [88]:
ny_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,...,FuturePopulationGrowth,ESTIMATED_FUTURE_POPULATION_GROWTH,FUTUREPOP2023,FUTURE_POPULATION_ESTIMATE,population_growth_rate,future_population_growth,Avg_Annual_Growth,Estimated_Pop_Growth_2023,POPULATION_GROWTH,FUTURE
1862,40.0,1.0,2.0,36.0,0.0,New York,New York,20201230.0,20108296.0,19857492.0,...,19496810.0,-180341.0,19496810.0,19496810.0,-0.021441,-421900.755186,35231.5,19712382.5,-180341.0,19496810.0
1863,50.0,1.0,2.0,36.0,1.0,New York,Albany County,314838.0,313987.0,316301.0,...,315321.0,-490.0,315321.0,315321.0,0.005809,1834.595904,-1402.0,314409.0,-490.0,315321.0
1864,50.0,1.0,2.0,36.0,3.0,New York,Allegany County,46446.0,47320.0,46921.0,...,46467.0,-227.0,46467.0,46467.0,-0.013229,-617.718597,86.0,46780.0,-227.0,46467.0
1865,50.0,1.0,2.0,36.0,5.0,New York,Bronx County,1472656.0,1461125.0,1421089.0,...,1338803.0,-41143.0,1338803.0,1338803.0,-0.055559,-76668.756153,-553.5,1379392.5,-41143.0,1338803.0
1866,50.0,1.0,2.0,36.0,7.0,New York,Broome County,198675.0,198126.0,198703.0,...,195531.0,-1586.0,195531.0,195531.0,-0.005093,-1003.861447,-1081.5,196035.5,-1586.0,195531.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1921,50.0,1.0,2.0,36.0,117.0,New York,Wayne County,91286.0,91193.0,91201.0,...,91049.0,-76.0,91049.0,91049.0,-0.000746,-67.949294,-42.0,91083.0,-76.0,91049.0
1922,50.0,1.0,2.0,36.0,119.0,New York,Westchester County,1004445.0,1001431.0,999607.0,...,981247.0,-9180.0,981247.0,981247.0,-0.010988,-10883.085013,-3678.0,986749.0,-9180.0,981247.0
1923,50.0,1.0,2.0,36.0,121.0,New York,Wyoming County,40531.0,40427.0,40017.0,...,39315.0,-351.0,39315.0,39315.0,-0.018824,-746.674895,29.5,39695.5,-351.0,39315.0
1924,50.0,1.0,2.0,36.0,123.0,New York,Yates County,24768.0,24720.0,24634.0,...,24268.0,-183.0,24268.0,24268.0,-0.010882,-266.072775,-48.5,24402.5,-183.0,24268.0
FUTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN